.buttons {
    font-family: 'Arial';
    margin-left:400px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 400px;
    background-color: #0f3d0f;
}

.button {
    flex-shrink: none;
    width: 90px;
    height:70px;
    background-color: lightgray;
    border-radius: 10%;
    font-size: 25px;
}

.button.zero{
    width:180px;
}

.button.op{
    background-color: #ffefbf;
}

.button.num {
    background-color: #6c9763;
}

.button.misc{
    background-color: #a8c3a4;
}

.button.equal{
    background-color: #ffefbf;
}
.answer {
    border: 10px solid #0f3d0f;
    text-align: right;
    width:381px;
    height: 60px;
    background-color:#fffff0;
    margin-top: 80px;
    margin-left:400px;
    font-size: 40px;

}

.calculator {
    font-family: 'Arial';
    padding: 0px;
    /*margin-left: 33%;
    font-family: 'Arial';
    border: 3px solid black;
    margin-right: 33%; */

}