.buttons {
    width: 33%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 33%;
    margin-right: 33%;
    background-color: black;
}

.button {
    flex: auto;
    width: 70px;
    margin: 2px;
    background-color: lightgray;
    border-radius: 10%;
    font-size: 25px;
}


.answer {
    text-align: right;
    width:33%;
    background-color:lightgray;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 30px;
    font-size: 40px;

}

.calculator {
    
    padding: 0px;
    /*margin-left: 33%;
    border: 3px solid black;
    margin-right: 33%; */

}